  nav {
    background-color:grey;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 1px;
    border-color: black;
    border-spacing: 10px;
    gap:10px;
    color: black
  }
  nav a{
    color: black;
    font-size: 20px;
  }