nav {
  background-color:grey;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 1px;
  border-color: black;
  border-spacing: 10px;
  gap:10px;
  color: black
}
nav a{
  color: black;
  font-size: 20px;
}
.skip-to-main-content {
  position: relative;
  color: transparent;
  padding: 10px;
}
.skip-to-main-content:focus{
  color:black;
  visibility: visible;
}

nav a:active {
  color: black;

  font-weight:bold;
} 
.link-active{
  color:darkblue;
  font-weight: bold;
}

.my-grid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:20px;
}
.my-grid img{
  width: 100%; 
  height: auto;
  max-width: 100%;
}

.my-grid-travel {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.my-grid-travel img{
  width: 100%; 
  height: auto;
  max-width: 100%;
}
.my-grid-nav {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.nav-mobile{
  width:auto;
  height:auto;
}

@media screen and (max-width:768px){
  .nav-mobile {
    font-size: 30px ;
  }
  .link-active{
    font-size:30px;
  }
}